// commands orquestrator
@clients=1
@broker=tcp://localhost:1883
@mode=generic
@qossub=1
@qospub=1

// commands benckmark tool
app=mqtt-loader

broker=127.0.0.1
broker_port = 1883
mqtt_version=5
num_publishers=1
num_subscribers=1
qos_publisher=0
qos_subscriber=0
shared_subscription=false
retain=false
topic=mqttloader-test-topic
payload=20
num_messages=100
ramp_up=0
ramp_down=0
interval=0
subscriber_timeout=5
exec_time=60
log_level=INFO
ntp=none
output=none
user_name=none
password=none
tls_truststore=none
tls_truststore_pass=none
tls_keystore=none
tls_keystore_pass=none